$light-grey: #f3f3f3;
@import url('https://fonts.googleapis.com/css?family=Raleway:300|Roboto+Slab:300,400');
@import '../../node_modules/mdi/scss/materialdesignicons';
$header-bg: white;
$footer-bg: white;
$content-bg: black;
$header-font: black;
$footer-font: black;
$text: white;
$std-radius: 10px;

@import 'traits';
@import 'mixins';
@import 'contact';
@import 'home';
@import 'about';
@import 'resources';
@import 'directions';
@import 'forSale';
@import 'tag';

*, *:before, *:after {
  box-sizing: inherit;
}
html {
  box-sizing: border-box;
  * {
    font-family: 'Roboto Slab', serif;
    color: $text;
  }
  #page-content {
    background-color: white;
    height: 100vh;
    overflow-y: hidden;
    #hero-tagline {
      color: white;
      font-size: 10em;
      line-height: 1em;
    }
    .header-wrapper {
      width: 80%;
      margin: 0 auto;
      background-color: $header-bg;
      height: 60px;
      @media (max-width: 1200px) {
        height: 100px;
      }
      #header {
        * {
          color: $header-font;
        }
        width: 80%;
        z-index: 1000;
        position: fixed;
        top: 0;
        .left-header {
          display: inline-block;
          vertical-align: top;
          .main-heading {
            margin: 13px 0 6px 0;
            font-size: 1.4em;
          }
          .sub-heading {
            margin: 0;
            font-size: 0.8em;
            line-height: 0.6em;
          }
        }
        #nav {
          float: right;
          display: inline-block;
          vertical-align: bottom;
          @media (max-width: 1200px) {
            display: block;
            float: none;
          }
          .nav-item {
            display: inline-block;
            padding: 15px 10px 15px 0px;
            cursor: pointer;
            @extend %hover;
            @extend %pointer;
            .mdi {
              padding-right: 10px;
            }
          }
        }
      }
    }
    #body {
      height: 100%;
      width: 100%;
      background-color: $content-bg;
      background-image: url("../images/mower.jpg");
      background-size: cover;
      #content {
        margin: 0 auto;
        width: 80%;
        position: relative;
        height: 100%;
        vertical-align: top;
        opacity: 0;
        transition: opacity 1s ease;
        &.visible {
          opacity: 1;
        }
      }
    }
  }
}
